:root {
  --dark-blue: #17317f;
  --yellow: #fedc07;
  --white: #ffffff;
  --grey: #ccc;
  --dark-grey: #747272;
  --fw-bold: 800;
  --fw-normal: 500;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark-blue);
  background-image: url(https://static.onthebeach.co.uk/fe-code-test/background.png);
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
